; begin auth token
//pkgs.dev.azure.com/CompanyX/_packaging/NPMGet/npm/registry/:username=CompanyX
//pkgs.dev.azure.com/CompanyX/_packaging/NPMGet/npm/registry/:_password=<<npm-base64-pat>>
//pkgs.dev.azure.com/CompanyX/_packaging/NPMGet/npm/registry/:email=si.stip@xo.com
//pkgs.dev.azure.com/CompanyX/_packaging/NPMGet/npm/:username=CompanyX
//pkgs.dev.azure.com/CompanyX/_packaging/NPMGet/npm/:_password=<<npm-base64-pat>>
//pkgs.dev.azure.com/CompanyX/_packaging/NPMGet/npm/:email=si.stip@xo.com
; end auth token
